<div style="height: 70vh;" class="d-flex flex-column align-items-center justify-content-center">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <a href="/" class="btn btn-primary mt-3">Volver a inicio</a>
</div>

{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
