<section class="jobs">
  <div class="jobs-wrapper">
    {{#each Jobs}}
      <div class="jobs-body">
        <a href="/jobs/{{id}}">
          <div id="card-body">
            <h3>{{title}}</h3>
            <div id="card-header">
              <div>
                <p>${{budget}}</p>
                <span>Precio fijado</span>
              </div>
              <div>
                <p>{{experience}}</p>
                <span>Nivel de experiencia</span>
              </div>
            </div>
            <p id="card-description">{{description}}</p>
            <p id="card-technologies">Tecnologias: <span>{{technologies}}</span></p>
          </div>
          {{!-- <form action="mailto:{{contact_email}}">
            <input type="submit" value="Aplicar ahora">
          </form> --}}
        </a>
      </div>
    {{else}}
      <div id="jobs-not-found">
        <h4>No hemos encontrado ningun trabajo relacionado con tu busqueda</h4>
        <a href="/jobs">Ver todos los trabajos</a>
    </div>
    {{/each}}
  </div>
</section>