<section class="jobs">
  <div class="jobs-wrapper">
    <div id="jobs-add-body">
      <h2>Agrega tu oferta de trabajo</h2>   
      <p></p>
      {{#each errors}}
        <div>
          <p>{{text}}</p>
        </div>
      {{/each}}

      <form class="jobs-add-form" action="/jobs/add" method="POST">
        <div>
          <label>Titulo</label>
          <input type="text" id="title" name="title" required value={{title}}>
        </div>

        <div>
          <label>Tech stack</label>
          <input type="text" id="technologies" name="technologies" required value={{technologies}}>
        </div>

        <div>
          <label>Presupuesto</label>
          <input type="text" id="budget" name="budget" required value={{budget}}>
        </div>

        <div>
          <label>Nivel de experiencia</label>
          <span id="form-radio">
            <label for=""><input type="radio" name="experiencie" required value={{experiencie}} id="">Entry level</label>
            <label for=""><input type="radio" name="experiencie" required value={{experiencie}} id="">Intermediate level</label>
            <label for=""><input type="radio" name="experiencie" required value={{experiencie}} id="">Expert level</label>
          </span>
        </div>

        <div>
          <label>Descripcion</label>
          <textarea type="text" id="description" name="description" required value={{description}}></textarea>
        </div>

        <div>
          <label>Email address</label>
          <input type="email" id="contact_email" name="contact_email" required value={{contact_email}}>
          <span id="" class="form-text">Tu email sera compartido con los usuarios que decidan aplicar a tu oferta</span>
        </div>

        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>